*{
	box-sizing: border-box;
}

.module_wrapper{
	width: 100%;
	max-width: 500px;
	margin:0 auto;
	padding: 10px;

	border: 2px solid red;

	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}



/* =======================================================================
  Text Utility Classes 
========================================================================== */
.text-collapsed{
	margin:0;
	padding:0;
}

.text-upper{
	text-transform: uppercase;
}


.text-link{
	color: black;
	text-decoration: none;
	transition: all .5s ease;
	&:hover{
		color:red;
		pointer: cursor;
		pointer: hand;

	}

	&:focus,
	&:active{
		outline: none;
	}

}

.text-truncated{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}